From: <Saved by Blink>
Snapshot-Content-Location: https://github.com/Alexoqool/winlatorapk/blob/main/.gitattributes
Subject: =?utf-8?Q?winlatorapk/.gitattributes=20at=20main=20=C2=B7=20Alexoqool/win?=
 =?utf-8?Q?latorapk?=
Date: Mon, 29 Jul 2024 20:41:09 +0300
MIME-Version: 1.0
Content-Type: multipart/related;
	type="text/html";
	boundary="----MultipartBoundary--8kRvFVIG1E6fEg6PIgt6uAFPJXUDTKLDj69gC6Y6xU----"


------MultipartBoundary--8kRvFVIG1E6fEg6PIgt6uAFPJXUDTKLDj69gC6Y6xU----
Content-Type: text/html
Content-ID: <frame-B18FACF65712DD84E5D2364435241EA5@mhtml.blink>
Content-Transfer-Encoding: binary
Content-Location: https://github.com/Alexoqool/winlatorapk/blob/main/.gitattributes

<!DOCTYPE html><html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark" data-a11y-animated-images="system" data-a11y-link-underlines="true" class="js-focus-visible" data-js-focus-visible="" data-turbo-loaded=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><link rel="stylesheet" type="text/css" href="cid:css-7b04d0c7-bced-472c-b65f-7325f5644a52@mhtml.blink" /><link rel="stylesheet" type="text/css" href="cid:css-eba16375-d82a-49e4-b78c-0d4e3f2cfceb@mhtml.blink" /><link rel="stylesheet" type="text/css" href="cid:css-6314125a-2fb0-47dd-97f7-3c5d8317b434@mhtml.blink" />
    
  <link rel="dns-prefetch" href="https://github.githubassets.com/">
  <link rel="dns-prefetch" href="https://avatars.githubusercontent.com/">
  <link rel="dns-prefetch" href="https://github-cloud.s3.amazonaws.com/">
  <link rel="dns-prefetch" href="https://user-images.githubusercontent.com/">
  <link rel="preconnect" href="https://github.githubassets.com/" crossorigin="">
  <link rel="preconnect" href="https://avatars.githubusercontent.com/">

  


  <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/light-efd2f2257c96.css"><link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/dark-6b1e37da2254.css">
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/primer-primitives-8500c2c7ce5f.css">
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/primer-38e58d71ea15.css">
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/global-0c67cda2fd21.css">
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/github-7efbde34ce37.css">
  <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/repository-a7f555d78ff9.css">
<link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/code-5137b44b5cd6.css">
