From: <Saved by Blink>
Snapshot-Content-Location: https://github.com/Alexoqool/winlatorapk/blob/main/.gitignore
Subject: =?utf-8?Q?winlatorapk/.gitignore=20at=20main=20=C2=B7=20Alexoqool/winlato?=
 =?utf-8?Q?rapk?=
Date: Mon, 29 Jul 2024 20:41:13 +0300
MIME-Version: 1.0
Content-Type: multipart/related;
	type="text/html";
	boundary="----MultipartBoundary--R7AEnHuN6Xv5HqOiz0DZzishlRjti0zY8ktAEMcykz----"


------MultipartBoundary--R7AEnHuN6Xv5HqOiz0DZzishlRjti0zY8ktAEMcykz----
Content-Type: text/html
Content-ID: <frame-7DEC47F4DCDFA4FEE4547D3738D4E235@mhtml.blink>
Content-Transfer-Encoding: binary
Content-Location: https://github.com/Alexoqool/winlatorapk/blob/main/.gitignore

<!DOCTYPE html><html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark" data-a11y-animated-images="system" data-a11y-link-underlines="true" class="js-focus-visible" data-js-focus-visible="" data-turbo-loaded=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><link rel="stylesheet" type="text/css" href="cid:css-f789ff8e-fff4-4574-8fb6-c2e6b1628837@mhtml.blink" /><link rel="stylesheet" type="text/css" href="cid:css-e5c4659f-118a-4a1b-9c77-d27f67056b07@mhtml.blink" /><link rel="stylesheet" type="text/css" href="cid:css-2dc2eae2-a950-4905-b687-1a9c98991cf2@mhtml.blink" />
    
  <link rel="dns-prefetch" href="https://github.githubassets.com/">
  <link rel="dns-prefetch" href="https://avatars.githubusercontent.com/">
  <link rel="dns-prefetch" href="https://github-cloud.s3.amazonaws.com/">
  <link rel="dns-prefetch" href="https://user-images.githubusercontent.com/">
  <link rel="preconnect" href="https://github.githubassets.com/" crossorigin="">
  <link rel="preconnect" href="https://avatars.githubusercontent.com/">

  


  <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/light-efd2f2257c96.css"><link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/dark-6b1e37da2254.css">
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/primer-primitives-8500c2c7ce5f.css">
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/primer-38e58d71ea15.css">
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/global-0c67cda2fd21.css">
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/github-7efbde34ce37.css">
  <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/repository-a7f555d78ff9.css">
<link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/code-5137b44b5cd6.css">
